/* استایل‌های صفحه تماس با من */


section {
    padding: 50px;
    text-align: center;
}

#contact {
    background-color: #f2f2f2;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    text-align: right;

    margin-bottom: 30px;
    direction: rtl;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.contact-info {
    text-align: right;
    margin-top: 40px;
}

.contact-info h2 {
    text-align: right;

    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p {
    text-align: right;

    margin-bottom: 5px;
}

